html(lang="en")
  include head.pug
  body
    include nav.pug
      li.nav-item
        a.nav-link.active(href="#") Kid
 
    div.container
      h4.pt-3 #{user.username}
      div.card.mb-3
        div.row.g-0
          div.col-md-3
            img(src='/images/' + user.image, style="width: 100%")
          div.col-md-9
            div.card-body
              h5.card-title
                span #{user.name}
                span.float-end
                  button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#kid-modal") Edit
                  button.btn.btn-danger Delete
              p.card-text #{user.description}
              h6.card-text Balance: #{user.pay}

      h4.pt-3 Chore Log

      if (!chore_log || chore_log.length == 0)
        div.card
          div.card-body
            h5.card-title No history yet!
            p.card-text You have not completed any chores yet :(

      else
        each log in chore_log
          div.row.g-0.timeline-entry(style="position: relative")
            div.card.mb-3
              div.row.g-0
                div.col-md-2
                  img(src='/images/' + log.image, style="width: 100%")
                div.col-md-10
                  div.card-body
                    h5.card-title #{log.chore_name}
                    p.card-text You completed this task on ___ with this to say: "#{log.notes}" ~#{log.kid_name}
                    p.card-text You earned $#{log.pay} by completing this chore.

  div.modal(id="kid-modal" tabindex="-1")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Edit Kiddo
          button.btn-close(data-bs-dismiss="modal")
        div.modal-body
          form(id="kid-form")
            div.mb-3
              div.image_container
                img(id="kid-image-raw" style="width: 100%;" src="/images/" + user.image)

              label.col-form-label(for="kid-image") Picture:
              input.form-control(type="file" id="kid-image" onchange="update_image(this, 'kid-image-raw');")

              label.col-form-label(for="kid-name") Username:
              input.form-control(type="text" name="kid_username" id="kid-username" value=user.username readonly)

              label.col-form-label(for="kid-name") Name:
              input.form-control(type="text" name="kid_name" id="kid-name" value=user.name)

              label.col-form-label(for="kid-name") password:
              input.form-control(type="password" name="kid_password" id="kid-password")

              label.col-form-label(for="kid-description") About:
              input.form-control(type="text" name="kid_description" id="kid-description" value=user.description)

              label.col-form-label(for="kid-fw-id") FW Rule ID:
              input.form-control(type="text" name="kid_fw_id" id="kid-fw-id" value=user.fw_id)

              input(type="text" name="action" value="update" style="display: none;")

        div.modal-footer
          button.btn.btn-secondary(data-bs-dismiss="modal") Cancel
          button.btn.btn-primary(form="kid-form") Save
    
include foot.pug
script(src='/js/chores.js') 
